---
  base_url:
    description: "Influxdb endpoint"
    type: "string"
    required: true
  username:
    description: "username for authentication"
    type: "string"
    required: true
  password:
    description: "password for authentication"
    type: "string"
    required: true  
  db:
    description: "target database"
    type: "string"
    required: true  